*{
    margin: 0%;
    padding: 0%;
}
nav{
    background-color: yellowgreen;
    color: black;
    padding: 15px;
}
li,h1,ul{
    display: inline;
}
ul{
    margin-left: 60%;
}
li{
    color: black;
    cursor: pointer;
}
li:hover{
    color: black;
}
input{
    width: 75%;
    padding: 1%;
}
.searchbar{
    padding: 3%;
    text-align: center;
}
.box{
    border-color: black;
    border-width: 4px;
    border-style: solid;
    display: inline-block;
    width: 202px;
}
h2,p{
    text-align: center;
}
.box1{
    border-color: black;
    border-width: 4px;
    border-style: solid;
    display: inline-block;
    width: 183px;
}
.box2{
    border-color: black;
    border-width: 4px;
    border-style: solid;
    display: inline-block;
    width: 187px;
}
.products{
    text-align: center;
}
.box:hover{
    background-color: black;
    color: white;
}
.box1:hover{
    background-color: black;
    color: white;
}
.box2:hover{
    background-color: black;
    color: white;
}
.center{
    text-align: center;
}
.products{
    padding: 2%;
}
.about{
    text-align: center;
    padding: 20px;
}
.contact{
    text-align: center;
    background-color: pink;
    color: black;
    padding: 20px;
}
.form{
    background-color: pink;
    color: black;
}
form{
    margin-left: 42%;
}